.register-section {
  height: 120vh;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(25, 28, 208, 0.958420868347339) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.register-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 221px; */
  background-color: #fff;
  width: 60%;
  border-radius: 10px;
  padding: 50px 20px;
}

.error-message {
  color: red;
  font-size: 16px;
}
.login-back {
  float: right;
  margin-top: -38px;
}
