body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  text-align: center;
  color: #000;
}

.register-section,
.login-section {
  height: 100vh;
  background: url(./utils/images/Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box,
.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 221px; */
  background-color: rgba(255, 255, 255, 0.479);
  /* width: 60%; */
  border-radius: 50px;
  padding: 50px 0px;
  margin: 0px 300px;
}

.login-box {
  margin: 0px 400px;
}

.error-message {
  color: red;
  font-size: 16px;
}

.login-btn {
  margin-bottom: 20px;
}

.register-btn {
  margin-bottom: 10px;
}
